<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for character set, compatibility, and viewport -->
    <meta charset="UTF-8"> <!-- Character encoding -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- IE compatibility -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Viewport settings -->

    <title>Phishing Website Detection</title> <!-- Document title -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

</head>
<body class="main-layout">
    <header>
        <div class="header">
            <div class="header_midil">
               <div class="container">
                  <div class="row d-flex justify-content-center"> <!-- Centering the content -->
                     
                     <div class="col-md-8">
                        <div class="logo"> <!-- Centering the text -->
                            <a href="/#"> <!-- Replace "/home" with the actual URL of your home page -->
                                <h1 style="font-size: 40px; font-weight: bold;">PhishAlert</h1>
                            </a>
                                                    </div>
                    </div>
                                         
                  </div>
               </div>
            </div>
            <div class="header_bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <br>
                            <a class="read_more" href="/index">Phishing website</a> 
                            &nbsp;
                            <a class="read_more" href="/spam">Phishing SMS</a>

                        </script>
                        
                            <br>
                            <br>
                            </div>
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main content section -->
<section class="banner_main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="black_result"></div>
                <div class="text-bg" style="align-items:center;">
                    <h2 style="font-size:40px; text-align:center;">Phishing SMS Prediction</h2>
                    <hr>
            <div class="container mx-auto">
                <p class="text-center text-gray-700">
                    "{{feature}}" is <span style="color: red; font-weight: bold;">{{result}}</span>
                </p>
            </div>
        </section>
        <link rel="manifest" href="/site.webmanifest">
 <!-- External CSS files -->
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/static/css/responsive.css">
    <!-- Custom scrollbar CSS -->
    <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <!-- Fancybox CSS -->
    <link rel="stylesheet" href="/static/jquery.fancybox.min.css">

            
    
</body>
</html>
